html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.frame{
    background-color: #BCA37F;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 16px;
    font-family: 'Onest', sans-serif;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.display{
    width: 100%;
    height: 150px;
    background-color: #FFF2D8;
    border-radius: 16px;
    
    font-size: 70px;
    font-family: inherit;
    text-align: right;
    color: #113946;
}

.btn{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 16px;
    background-color: #EAD7BB;
    color: #113946;
    cursor: pointer;

    font-family: inherit;
    font-size: 35px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.top-buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.clear{
    flex-basis: 215px;
}

.bottom-buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
}
